<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

<listeners>
    <listener class-name="utilities.Reporting"></listener>
</listeners>
<test verbose="2" preserve-order="true" name="/Users/billalyahiaoui/IdeaProjects/inetBankingV1_FrameWork">

    <parameter name="browser" value="chrome"></parameter>
    <classes>

        <class name="testCases.TC_LoiginTest_001">

            <methods>
                <include name="loginTest"/>
            </methods>
        </class>


        <class name="testCases.TC_LoginDDT_002">

            <methods>
                <include name="loginDDT"/>
            </methods>
        </class>


        <class name="testCases.TC_AddCustomerTest_003">

            <methods>
                <include name="AddNewCustomer"/>
            </methods>
        </class>




    </classes>
</test>
</suite>